body { background-color: #f5f7fa; }
.navbar-brand{ padding-left: 1.5rem !important; font-weight: 500;}
.hero-section { padding: 80px 0; text-align: center; }
.hero-section h1 { font-size: 2.5rem; font-weight: 600; }
.hero-section p { font-size: 1.1rem; color: #6c757d; }
.hero-btn{ border-radius: .7rem !important;}
.photo-grid img { border-radius: 0.75rem; object-fit: cover; height: 160px; width: 100%; }


.profile-card {
border-radius: 1rem;
box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}
.profile-img {
width: 120px;
height: 120px;
object-fit: cover;
border-radius: 50%;
margin-top: -60px;
border: 5px solid #fff;
}
.stat-number { font-weight: 600; font-size: 1.2rem; }
.col .card{
    break-inside: avoid;
    border-radius: 0.75rem;
}


.gallery-img {
  width: 100%;
  height: auto;
  width: 100%;
  display: block;
  object-fit: cover;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
.upload-box {
border: 2px dashed #ced4da;
border-radius: 12px;
padding: 40px;
text-align: center;
background: #fff;
cursor: pointer;
}
.upload-box:hover { background-color: #f8f9fa; }
.login-container{
  padding: 30px;
  background-color: white;
  max-width: 650px;
  border-radius: 10px;
  margin-top: 5em;
}
